    <% provide(:title, "About") %>
    <h1><%= t(".title")</h1>
    <p>
      <%= link_to t(".link_title_tutorial"), "https://www.railstutorial.org/" %>, <%= t(".link_title_1") %>
      <%= link_to t(".link_learn"), "https://www.learnenough.com/" %> 
      <%= t(".link_title_2")%>
      <%= link_to t(".link_book", "https://www.railstutorial.org/book" %> <%= t(".link_title_and") %>
      <%= link_to t(".link_title_5"), "https://screencasts.railstutorial.org/" %>
      <%= t(".link_title_3") %>
      <%= link_to t(".link_rails"), "https://rubyonrails.org/" %>.
      <%= t(".link_title_4")%>
    </p>
    