
    <% provide(:title,"Help") %>
    <h1><%= t(".title")</h1>
    <p>
      <%= t(".link_title_tutorial") %>
      <%= link_to t(".link_title_1"), "https://www.railstutorial.org/help" %>.
      <%= t(".link_about") %>
      <%= link_to t(".link_title_rails"), "https://www.railstutorial.org/book" %>.
    </p>
