<footer class="footer">
  <small>
    The <%= link_to t(".content_1"), "https://www.railstutorial.org/" %>
    by <%= link_to t(".link_title_michael_hartl"), "https://www.michaelhartl.com/" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".link_title_contact_page"),"#" %></li>
      <li><%= link_to t(".link_title_about_page"), "#" %></li>
      <li><%= link_to t(".link_title_rails_page"), "https://news.railstutorial.org/" %></li>
    </ul>
  </nav>
</footer>
